#train-table th,
    td {
      display: inline-block;
      width: 16.575%;
    }

 .jumbotron {
     background-color: white; 
     color: #fd017e;
 }

 .train-meme {
    margin-left: 350px;
 }

 .text-center {
    font-family: 'Rubik Mono One', sans-serif; 
}

#add-train-btn {
    background-color: #fd017e;
    color: white;
    margin-right: 50%;
}
